/*Making the nav menu work for IE without Flexbox*/

@media screen and (min-width: 600px){
  .menu-list{
    list-style-type: none;
    padding-left: 0;
    display; block;
    position: absolute;
    top: 10%;
    right: 5%;
  }

  .menu-item{
    display: inline-block;
  }
}
