/*Making the nav menu work for IE without Flexbox*/
*{
  box-sizing: border-box;
}

body {
    font: 100%/1.5 "Open Sans", sans-serif;
    color: #7f8c8d;
    font-size: 16px;
    width: 100%;
    padding: 56px 0 0 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

@font-face{
	font-family:'Open Sans';
	src: url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.eot');
	src: url(web-fonts/opensans-reg/'OpenSans-Regular-webfont?iefix') format('eot'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.woff') format('woff'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.ttf') format('truetype'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.svg#webfont') format('svg');
}

  a{
  text-decoration: none;
}

  .brand-blue{
  color: #30c0d8;
}

  .brand-red{
  color: #ff6952;
}

  .is-white{
  color: white;
}

  .flex-blue{
  color: #3fa9f5;
}

.is-bold{
  font-weight: 600;
}

.is-contained-in-600px{
  max-width: 600px;
  margin: 0 auto;
}

/*
   -- LAYOUT STYLES --
 */

  .box{
  padding: 1rem;
}

  .is-center {
    text-align: center;
}

  .clearfix:before, .clearfix:after{
	content: "";
	display: table;
}

  .clearfix:after{
	clear: both;
}


/*
   -- FORM STYLES --
 */

   #contact{
    padding: 2rem;
    background: #34495e;
    border-radius: 8px;
 }

   fieldset{
   border: none;
 }

   .label{
    margin: 1rem 0 0;
    font-weight: 600;
    font-size: 100%;
}

   .textarea{
    height: 10rem;
}

   .input,
   .drop-down {
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

   .input:focus{
    outline: none;
    border: 2px solid #30c0d8;
}


   .drop-down:focus{
   outline: none;
   border: 2px solid #30c0d8;
}

/*
   -- BUTTON STYLES --
 */

   .button{
     font-weight: 600;
     border-radius: 5px;
     padding: .45rem .8rem;
   }

  #contact-submit{
    color: white;
    background-color: #34495e;
    border: 2px solid white;
    transition: background, color;
    transition-duration: .5s;
  }

  #contact-submit:hover{
    color: #34495e;
    background-color: white;
  }

  #flex-button{
    color: white;
    background-color: #34495e;
    border: 2px solid #34495e;
    transition: background, color;
    transition-duration: .5s;
  }

  #flex-button:hover{
    color: #34495e;
    background-color: white;
  }

/*
  -- MENU STYLES --
 */


  .home-menu {
  padding: 0.5em;
  box-shadow: 0 0 2px rgba(6,8,8,0.15);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s ease-in-out;
}

  .menu-list{
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

  .menu-item{
  margin: 0 15px;
}


  .home-menu-fixed {
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

  .menu-link {
    color: #34495e;
    font-size: 1rem;
    font-weight: 600;
}

  .home-menu li a:hover {
    padding-bottom: 4px;
    background: none;
    border-bottom: 2px solid #34495e;
}

  .active {
    padding-bottom: 4px;
    background: none;
    border-bottom: 2px solid #34495e;
}

  .nav-up{
    top: -128px;
}

/*
  -- HERO STYLES --
 */
 .hero-container{
   background-color: #30c0d8; /*fall back color in case browser doesn't support gradients*/
   background-image: -webkit-linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   background-image: -moz-linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   background-image: -o-linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   background-image: linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   z-index: 1;
   overflow: hidden;
   width: 100%;
   position: fixed;
   height: 29rem;
   padding: 4.15rem .5rem;
   top: 0;
 }

 .hero-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 3.5rem
 }

 .hero-head{
   color: white;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 2.25em;
   margin-bottom: 0;
   line-height: 1.25;
   padding-top: 1.55em;
 }

 .hero-subhead{
   color: white;
   font-weight: 600;
   letter-spacing: 0.03em;
   font-size: 1.2rem;
   padding-left: 7%;
   padding-right: 7%;
 }

 /*
  -- CONTENT STYLES --
 * This represents the content area (everything below the hero section)
 */
 .content-wrapper {
    /* These styles are for the "scroll-over" effect */
    position: absolute;
    top: 30rem;
    width: 100%;
    z-index: 2;
    background: white;
}

 .content-box{
  padding: 3rem 0 1rem 0;
}

 .content-head{
  font-weight: 400;
}

 .content-subhead i {
  margin-right: 7px;
}

 footer{
  padding: .75rem;
}

/*
--HOME PAGE--
*/

 .ribbon {
    background: #34495e;
}

 .content-head-ribbon {
    color: white;
    font-weight: 100;
}

 .p-ribbon{
  color: white;
  font-weight: 400;
  font-size: 1.01rem;
  padding: 0 10%;
}

 .call-to-action {
   background-color: #30c0d8; /*fall back color in case browser doesn't support gradients*/
   background-image: -webkit-linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   background-image: -moz-linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   background-image: -o-linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   background-image: linear-gradient(
   30deg,
   #30c0d8 0%,
   #70d4e4 47%,
   #30c0d8 100%
   );
   padding: 2rem;
}

 .call-to-action h3{
    color: white;
    font-weight: 800;
    font-size: 1.65rem;
}

/*
--ABOUT PAGE--
*/
 .latest-project-sub{
  display: flex;
  flex-flow: column;
  align-items: center;
  }

  .flex-logo-wrapper{
    padding: 0 2.5rem;
    max-width: 450px;
  }

  .about-page-content-head{
    font-size: 1.5rem;
  }

 .team-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

 .about-us img{
  border-radius: 50%;
  border: 8px solid #34495e;
}

 .about-us.content-box{
  padding-top: 0;
}

 .team-sub{
  margin: 1em .5em;
  max-width: 275px;
}

 .team-sub .content-subhead{
  font-size: 1.2rem;
}

 .principles-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

 .principles-sub{
  margin: 1em .5em;
  max-width: 100%;
}

 .principles-text .content-subhead{
  font-size: 1.2rem;
  margin: 0;
}

 .global-background{
  background: url(../img/about/night.png) center center;
  height: 40rem;
  display: flex;
  align-items: center;
}

 .global-text{
  padding: 1rem 1rem;
}

/*
--CONTACT PAGE--
*/

  .content-box.contact-info{
    margin: .28rem;
    padding-bottom: 0;
  }

  .contact-info .content-subhead{
    margin-bottom: 0;
    margin-top: 0;
  }

  .contact-text h5{
    margin-bottom: 0;
    margin-top: .55rem;
  }

 .contact-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

 .contact-sub{
    margin: 1em .5em;
    max-width: 100%;
}

 .contact-text p{
    margin: 0;
}

 .contact-text a{
    color: #30c0d8;
    font-weight: 600;
}

 .contact-text a:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid #34495e;
}

 #contact h2,
 #contact h4{
    color: white;
}

/*
--GOOGLE MAPS--
*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

  .google-maps{
  	padding: 3rem 1rem;
  }

/*
--SOCIAL ICONS INSIDE FOOTER--
*/

 .social-icons i{
  margin: 0 8px;
}

 .social-icons a{
  color: #666;
}

 .social-icons a:hover,
 .social-icons a:focus{
  color: #34495e;
}


/*
--MEDIA QUERIES | TABLET--
*/


@media screen and (min-width: 600px) {
  body{
    /*The menu height changes at this breakpoint.*/
    padding-top: 0;
  }

  .content-box{
    padding: 4rem 0;
  }

  .home-menu{
    flex-direction: row;
    justify-content: flex-end;
    padding-right:  5rem;
  }

  .nav-up{
    top: -72px;
}

  .menu-logo{
    margin-right: auto;
    padding-left: 5rem;
  }

  .menu-link{
    margin-right: 15px;
  }


  .hero-container{
    height: 35rem;
  }

  .hero-head{
    font-size: 3.5rem;
    padding: 2.25em .2em .5em .18em;
  }

  .hero-subhead{
    font-size: 1.5rem;
    margin-top: 0;
  }

  .content-wrapper{
    top: 37rem;
  }

  .content-head{
    font-size: 1.85rem;
  }

  .about-us .content-head{
    font-size: 1.8rem;
  }

  .our-principles .content-head{
    font-size: 1.8rem;
  }

  .our-specialties{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }

  .specialty-item{
    margin: 1em .5em;
    /*have to add a specific width here to pick up support in safari
    for the row wrap on parent element .our-specialties*/
    width: 45%;
    max-width: 45%;
  }

  .p-ribbon{
    font-size: 1.16rem;
  }

  .content-head-ribbon{
    margin-bottom: 0;
  }

  .call-to-action{
    padding: 3rem 1rem;
  }

  /*CHANGING THE LAYOUT OF OUR PRINCIPLES SECTION on the ABOUT PAGE*/

  .principles-section{
    display: flex;
    flex-direction: column;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: 2rem;
  }

  .principles-sub{
    display: flex;
    justify-content: center;
  }

  .principles-sub.odd-sub{
    flex-direction: row-reverse;
  }

  .principles-img{
    max-width: 38%;
  }

  .principles-text{
    max-width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .principles-text .content-subhead,
  .team-sub .content-subhead{
    font-size: 1.4rem;
  }

  .about-page-p{
    font-size: 1.25rem;
  }

  .global-text{
    font-size: 1.8rem;
  }

/*CHANGING LAYOUT FOR CONTACT INFORMATION SECTION ON CONTACT PAGE*/


  .contact-info p{
    font-size: 1.25rem;
}

  .contact-section{
    display: flex;
    flex-direction: column;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: 2rem;
  }

  .contact-sub{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .contact-sub.odd-sub{
    flex-direction: row-reverse;
  }

  .contact-img{
      max-width: 46%;
      align-self: center;
  }

  .contact-text{
    max-width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-text p{
    font-size: 1rem;
  }

  .contact-info .content-subhead{
    font-size: 1.4rem;
  }

  .contact-form{
    display: flex;
    justify-content: center;
  }

  #contact{
    padding: 3rem 6rem;
  }

  .google-maps {
    padding: 4rem 3rem;
  }

  /*IE 10/11 SPECIFIC STYLES*/

  _:-ms-input-placeholder, :root .menu-list{
    display; block;
    position: absolute;
    top: 10%;
    right: 5%;
  }

  _:-ms-input-placeholder, :root .menu-item{
    display: inline-block;
  }

}

@media screen and (min-width: 800px) {
    .content-head,
    .content-head-ribbon {
      font-size: 1.95rem;
    }

    .content-subhead{
      font-size: 1.3rem;
    }

    .specialty-description{
      font-size: 1.1rem;
    }

    .p-ribbon{
      font-size: 1.2rem;
      padding: 0 20%;
    }

    .global-text{
      padding: 1rem 10rem;
    }

    .contact-text p{
      font-size: 1.04rem;
    }

    .contact-info .content-subhead{
      font-size: 1.6rem;
    }

    .contact-text h5{
      font-size: 1.16rem;
    }
}

@media screen and (min-width: 1000px) {
    .hero-head{
      font-size: 5rem;
      padding: 1.25em .2em .5em .18em;
    }

    .hero-subhead{
      font-size: 2rem;
    }
}

/*
--MEDIA QUERIES | DESKTOP--
*/

@media screen and (min-width: 1100px){

    .contact-section{
      width: 53%;
      float: left;
      padding-top: 5.1rem;
      margin-bottom: 1rem;
    }

    .contact-sub{
      margin-bottom: 5.38rem;
    }

    .contact-form.clearfix{
      width: 46%;
      float: right;
    }

    .contact-form{
      margin-top: 5rem;
    }

    .google-maps{
      padding: 0rem 5rem;
      clear: both;
    }

    .content-box.contact-info{
      padding: 4rem 0 0 0;
    }

    .latest-project-img{
      width: 50%;
      float: left;
    }

    .latest-project-sub{
      padding-top: 4rem;
    }

    .flex-logo-wrapper{
      padding: 0 4.5rem;
    }
}

@media screen and (min-width: 1200px){
    .hero-container{
      height: 40rem;
    }

    .content-wrapper{
      top: 38rem;
    }
}
