*{
  box-sizing: border-box;
}

body {
    font: 100%/1.5 "Open Sans", sans-serif;
    color: #7f8c8d;
    font-size: 16px;
    width: 100%;
    margin: 111px 0 0 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

@font-face{
	font-family:'Open Sans';
	src: url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.eot');
	src: url(web-fonts/opensans-reg/'OpenSans-Regular-webfont?iefix') format('eot'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.woff') format('woff'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.ttf') format('truetype'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.svg#webfont') format('svg');
}

a{
  text-decoration: none;
}

.brand-blue{
  color: #30c0d8;
}




/*
   -- LAYOUT STYLES --
 */

 .box {
    padding: 1rem;
}

.box-lrg {
    padding: 2rem;
}

.is-center {
    text-align: center;
}


/*
   -- FORM STYLES --
 */

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}


/*
   -- BUTTON STYLES --
 */


.button {
    padding: 0.5em 2em;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

a.hero-button {
  background: white;
  color: #30C0D8;
}

a.call-to-action-button{
  background: white;
  color: #30C0D8;
  padding: 0.5em .75em;
}

/*
  -- MENU STYLES --
 */

.home-menu {
  padding: 0.5em;
  box-shadow: 0 0 2px rgba(6,8,8,0.15);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.menu-list{
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.menu-item{
  margin-right: 7px;
}


.home-menu-fixed {
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.menu-link {
    color: #34495e;
    font-size: 1rem;
    font-weight: 600;
}


.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border-bottom: 2px solid #30c0d8;
    color: #FF6952;
}

/*
  -- HERO STYLES --
 */
 .hero-container{
   background: #30C0D8;
   z-index: 1;
   overflow: hidden;
   width: 100%;
   position: fixed;
   height: 29rem;
 }

 .hero-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 4rem;
 }

 .hero-head{
   color: white;
   border: 3px solid white;
   padding: .8em;
   font-weight: 100;
   border-radius: 5px;
   text-transform: uppercase;
   font-size: 1.5em;
 }

 .hero-subhead{
   color: white;
   font-weight: 400;
   letter-spacing: 0.03em;
   font-size: 1rem;
   padding-left: 7%;
   padding-right: 7%;
 }

 /*
  -- CONTENT STYLES --
 * This represents the content area (everything below the hero section)
 */
.content-wrapper {
    /* These styles are for the "scroll-over" effect */
    position: absolute;
    top: 58%;
    width: 100%;
    z-index: 2;
    background: white;
}

.content-box{
  padding: 3rem 0;
}

.content-head{
  font-weight: 400;
}

.content-subhead i {
  margin-right: 7px;
}

.ribbon {
    background: #34495e;
}

.content-head-ribbon {
    color: white;
    font-weight: 100;
}

.p-ribbon{
  color: white;
  font-weight: 400;
  font-size: 1.01rem;
}

.call-to-action {
  background: #30C0D8;
  padding: 2rem;
}

.call-to-action h3{
    color: white;
    font-weight: 300;
    font-size: 1.65rem;
}

/*
--SOCIAL ICONS INSIDE FOOTER--
*/

.social-icons i{
  margin: 0 8px;
}

.social-icons a{
  color: #666;
}

.social-icons a:hover,
.social-icons a:focus{
  color: #34495e;
}


/*
--MEDIA QUERIES | TABLET--
*/


@media screen and (min-width: 600px) {
  body{
    margin-top: 72px;
  }

  .home-menu{
    flex-direction: row;
    justify-content: flex-end;
    padding-right:  1.5rem;
  }

  .menu-logo{
    margin-right: auto;
    padding-left: 1.5rem;
  }

  .menu-link{
    margin-right: 15px;
  }

  .hero-head{
    font-size: 2.5rem;
    padding: .9em;
  }

  .hero-subhead{
    font-size: 1.5rem;
    margin-top: 0;
  }

  a.hero-button{
    padding: .85em 1.5em;
    font-size: 1.05em;
  }

  .content-head{
    font-size: 1.85rem;;
  }

  .our-specialties{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
  }

  .p-ribbon{
    font-size: 1.16rem;
}

  .content-head-ribbon{
    margin-bottom: 0;
}
  .specialty-item{
    margin: 1em .5em;
    max-width: 270px;
  }


}
